[submodule "external/curl"]
	path = external/curl
	url = https://github.com/curl/curl
[submodule "external/nlohmannjson"]
	path = external/nlohmannjson
	url = https://github.com/nlohmann/json
	branch = master
